<ion-view view-title="Educational Background">
  <ion-content>
    <div class="body">

    <div class="edu">
     <div class="profpic-edu">
       <img src="../img/omar1.png" class="pic-edu">
     </div>
     <div class="name-prof-edu">
       John Omar Esguerra
     </div>
     <div class="designer-edu">
       Graphic and Web Designer
     </div>
    </div>

     <div class="info">
      <div class="info-pic">
         <img src="../img/education.png" class="info-img1">
      </div>
      <div class="personal-info"> 
        2004 - 2010
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/school.png" class="info-img0">
      </div>
      <div class="school"> 
        Antagan 1 Elementary School
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/address.png" class="info-img0">
      </div>
      <div class="number"> 
        Antagan 1, Tumauini, Isabela
      </div>
     </div>
      <div class="info4">
      <div class="info-pic">
         <img src="../img/medal.png" class="info-img0">
      </div>
      <div class="number"> 
        Salutatorian
      </div>
     </div><br>

     <div class="info">
      <div class="info-pic">
         <img src="../img/education.png" class="info-img1">
      </div>
      <div class="personal-info"> 
        2010 - 2014
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/school.png" class="info-img0">
      </div>
      <div class="school"> 
        Antagan National High School
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/address.png" class="info-img0">
      </div>
      <div class="number"> 
        Antagan 1, Tumauini, Isabela
      </div>
     </div>
      <div class="info4">
      <div class="info-pic">
         <img src="../img/medal.png" class="info-img0">
      </div>
      <div class="number"> 
        Salutatorian
      </div>
     </div><br>

     <div class="info">
      <div class="info-pic">
         <img src="../img/education.png" class="info-img1">
      </div>
      <div class="personal-info"> 
        2014 - 2018
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/school.png" class="info-img0">
      </div>
      <div class="school"> 
        Cagayan State University <br>Carig Campus
      </div>
     </div><br>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/educ.png" class="info-img0">
      </div>
      <div class="number"> 
        BS in Computer Science
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/address.png" class="info-img0">
      </div>
      <div class="number"> 
        Carig Sur, Tuguegarao City, Cagayan
      </div>
     </div>
      <div class="info4">
      <div class="info-pic">
         <img src="../img/medal.png" class="info-img0">
      </div>
      <div class="number"> 
        Cum Laude
      </div>
     </div>
     <br><br><br>
    </div>
  </ion-content>
</ion-view>
