<ion-view view-title="Personal Info">
  <ion-content>
  <div class="body">
     <div class="profpic">
       <img src="../img/omar1.png" class="pic">
     </div>
     <div class="name-prof">
       John Omar Esguerra
     </div>
     <div class="designer">
       Graphic and Web Designer
     </div>
     <div class="info">
      <div class="info-pic">
         <img src="../img/person.png" class="info-img1">
      </div>
      <div class="personal-info"> 
        About Me
      </div>
     </div>
     <div class="aboutme">
       I can see design in everything! I am highly motivated. Very imaginatively by finding inspirations in everyday things. I can also follow the latest trends and create my own output. Pushing my own boundaries, allowing myself to think out-side the box and lastly I don't stop learing. 
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/man.png" class="info-img">
      </div>
      <div class="number"> 
       Male
      </div>
     </div>
      <div class="info4">
      <div class="info-pic">
         <img src="../img/birthday.png" class="info-img">
      </div>
      <div class="number"> 
        June 23, 1997
      </div>
      </div>
      <div class="info2">
      <div class="info-pic">
         <img src="../img/address.png" class="info-img">
      </div>
      <div class="number"> 
        Antagan 1, Tumauini, Isabela
      </div>
     </div><br>
     
     <div class="info">
      <div class="info-pic">
         <img src="../img/contact.png" class="info-img1">
      </div>
      <div class="personal-info"> 
        Contacts
      </div>
     </div>
      <div class="info3">
      <div class="info-pic">
         <img src="../img/cellphone.png" class="info-img">
      </div>
      <div class="number"> 
        (+63) 910-4400-0435
      </div>
     </div>
     <div class="info3">
      <div class="info-pic">
         <img src="../img/google.png" class="info-img">
      </div>
      <div class="number"> 
        esguerrajohnomar@gmail.com
      </div>
     </div>
     <div class="info3">
      <div class="info-pic">
         <img src="../img/fb.png" class="info-img">
      </div>
      <div class="number"> 
        facebook.com/omaresguerra
      </div>
     </div>
     
     <div class="info3">
      <div class="info-pic">
         <img src="../img/twitter.png" class="info-img">
      </div>
      <div class="number"> 
        twitter.com/omar_esguerra
      </div>
     </div>
     <div class="info3-padd">
      <div class="info-pic">
         <img src="../img/instagram.png" class="info-img">
      </div>
      <div class="number"> 
        instagram.com/omar_esguerra
      </div>
     </div><br>
     <div class="info">
      <div class="info-pic">
         <img src="../img/like.png" class="info-img1">
      </div>
      <div class="personal-info"> 
        Likes
      </div>
     </div>

     <div class="like">
       <div class="like-img">
         <img src="../img/camera.png" class="like-pic"><br>
         <font class=like-what>Photography</font>
       </div>
       <div class="like-img">
         <img src="../img/coffee.png" class="like-pic"><br>
         <font class=like-what>Coffee</font>
       </div>
       <div class="like-img">
         <img src="../img/music.png" class="like-pic"><br>
         <font class=like-what>Musics</font>
       </div>
       <div class="like-img">
         <img src="../img/ice.png" class="like-pic"><br>
         <font class=like-what>Ice-Cream</font>
       </div>
       <div class="like-img">
         <img src="../img/game.png" class="like-pic"><br>
         <font class=like-what>Games</font>
       </div>
       <div class="like-img">
         <img src="../img/pizza.png" class="like-pic"><br>
         <font class=like-what>Pizza</font>
       </div>
     </div>

     <div class="info">
      <div class="info-pic">
         <img src="../img/skills.png" class="info-img1">
      </div>
      <div class="personal-info"> 
        Skills and Expertize
      </div>
     </div>

     <div class="skills">
       <div class="like-img">
         <img src="../img/photoshop.png" class="like-pic"><br>
         <font class=like-what>Photoshop</font>
       </div>
       <div class="like-img">
         <img src="../img/dream.png" class="like-pic"><br>
         <font class=like-what>Dreamweaver</font>
       </div>
       <div class="like-img">
         <img src="../img/illustrator.png" class="like-pic"><br>
         <font class=like-what>Illustrator</font>
       </div>
       <div class="like-img">
         <img src="../img/web.png" class="like-pic"><br>
         <font class=like-what>Web Dev / Design</font>
       </div>
       <div class="like-img">
         <img src="../img/photoshop.png" class="like-pic"><br>
         <font class=like-what>HTML / CSS / PHP</font>
       </div>
        <div class="like-img">
         <img src="../img/graphics.png" class="like-pic"><br>
         <font class=like-what>Graphics Design</font>
       </div>
     </div>

     <div class="info">
      <div class="info-pic">
         <img src="../img/person.png" class="info-img1">
      </div>
      <div class="personal-info"> 
        Character Reference
      </div>
     </div>
     <div class="reference">
       <font class="ref">Rose Marie Esguerra</font><br>
       Parent<br>
       0917-914-9264<br><br>
       <font class="ref">Mrs. Maricel G. Castillo</font><br>
       4<sup>th</sup> year HS Adviser<br>
       0998-572-7094<br><br>
       <font class="ref">Sir Generino P. Siddayao, DIT</font><br>
       Dean, CICS<br>
        078-304-1205<br><br>
     </div>

  </div>
  </ion-content>
</ion-view>
