<ion-view view-title="Personal Note">
  <ion-content>
  <div class="body">
    <div class="edu">
     <div class="profpic-edu">
       <img src="../img/omar1.png" class="pic-edu">
     </div>
     <div class="name-prof-edu">
       John Omar Esguerra
     </div>
     <div class="designer-edu">
       Graphic and Web Designer
     </div>
    </div>
     <div class="info">
      <div class="info-pic-note">
         <img src="../img/note.png" class="info-img1">
      </div>
      <div class="personal-note"> 
        Sir Wilcar Saturno<br><font class=profe>Subject Teacher</font>
      </div>
     </div>
     <div class="note">
       Greetings! <br><br>
       Hi Sir!  Your way of teaching is exemplary! I like the way you teach a lesson in a very excellent way and simple examples. You don't move to the next lesson if we don't understand the previous one. Everytime comes the next meeting, your markers are ready for us to dirt the whiteboard. And it is a challenge for us because this is the way if we recall or reviewed our lessons before coming to your class.<br><br>
       I don't have nothing to say but THANK YOU SIR, for all the learnings and kindness. Also to your considerations for the times we may cause you in a bad mood situations. SORRY for that Sir. Because of you Sir, we also learned how to be well-mannered students, how to managed our time, and keep studying. <br><br>
       That's all Sir. Thank you for this Semester. Hope we will be under you for the next school year. <br><br><br>

       Hugs ang glitter,<br><br> 
       <font class="yours">John Omar Esguerra</font><br>
       BSCS-3B <br><br><br>


     </div>
   </div>
  </ion-content>
</ion-view>