<ion-view view-title="Trainings Attended">
  <ion-content>
  <div class="body">
    <div class="edu">
     <div class="profpic-edu">
       <img src="../img/omar1.png" class="pic-edu">
     </div>
     <div class="name-prof-edu">
       John Omar Esguerra
     </div>
     <div class="designer-edu">
       Graphic and Web Designer
     </div>
    </div>

    <div class="info">
      <div class="info-pic">
         <img src="../img/trainings.png" class="info-img1">
      </div>
      <div class="training-name"> 
        Web Design: Efficient Workflow
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/address.png" class="info-img0">
      </div>
      <div class="number"> 
        Adamson University - Ermita, Manila
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/birthday.png" class="info-img0">
      </div>
      <div class="number"> 
        June 23, 2018
      </div>
     </div>
     <div class="info4-train">
      <div class="info-pic">
         <img src="../img/training1.png" class="info-img0">
      </div>
      <div class="number">
      <ul>
        <li>Optimized the design phase of my workflow</li>
        <li>Learned how to apply best practice and techniques for improved productivity and creativity </li>
      </ul>
      </div>
     </div>

     <div class="info">
      <div class="info-pic">
         <img src="../img/trainings.png" class="info-img1">
      </div>
      <div class="training-name"> 
        (ROUTE) Cisco IP Routing v1.0
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/address.png" class="info-img0">
      </div>
      <div class="number"> 
       Cisco Systems Philippines - Manila
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/birthday.png" class="info-img0">
      </div>
      <div class="number"> 
        July 23, 2018
      </div>
     </div>
     <div class="info4-train1">
      <div class="info-pic">
         <img src="../img/training1.png" class="info-img0">
      </div>
      <div class="number">
      <ul>
        <li>
          Monitor, prioritize, and scale applications with deployment automation over any secure connection
        </li>
        <li>
          Bring strong security and services to enterprise, service provider, and industrial networks
        </li>
      </ul>
      </div>
     </div>

     <div class="info">
      <div class="info-pic">
         <img src="../img/trainings.png" class="info-img1">
      </div>
      <div class="training-name"> 
        PHP Essential Training
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/address.png" class="info-img0">
      </div>
      <div class="number"> 
       SoloLearn Inc. - Pleasanton, CA 
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/birthday.png" class="info-img0">
      </div>
      <div class="number"> 
        August 23, 2018
      </div>
     </div>
     <div class="info4-train2">
      <div class="info-pic">
         <img src="../img/training1.png" class="info-img0">
      </div>
      <div class="number">
      <ul>
        <li>
          Created dynamic pages, deveoped websites, and generated dynamic contents
        </li>
        <li>
          Able to open files; wrote content to files; and created contact forms, forums, blogs, picture galleries, surveys, social networks, and a whole lot more
        </li>
      </ul>
      </div>
     </div>

     <div class="info">
      <div class="info-pic">
         <img src="../img/trainings.png" class="info-img1">
      </div>
      <div class="training-name"> 
        Photoshop CC for Web Design
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/address.png" class="info-img0">
      </div>
      <div class="number"> 
       Linda.com Inc. - Carpinteria, CA
      </div>
     </div>
     <div class="info4">
      <div class="info-pic">
         <img src="../img/birthday.png" class="info-img0">
      </div>
      <div class="number"> 
        September 23, 2018
      </div>
     </div>
     <div class="info4-train2">
      <div class="info-pic">
         <img src="../img/training1.png" class="info-img0">
      </div>
      <div class="number">
      <ul>
        <li>
          Learned to create UI elements, web graphics, wireframes, anf functional mockups that transition beautifully and easily to production with Photoshop
        </li>
      </ul>
      </div>
     </div>

   </div>
  </ion-content>
</ion-view>